<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsq.user.mapper.SysPermissionsMapper">

    <select id="getPermissionList" resultType="com.qsq.user.dto.PermissionListResponseDTO">
        select sp.*,
        su.nickname as createUserName
        from sys_permissions sp left join sys_user su on sp.create_user = su.user_id
        where sp.is_delete = 0 and su.is_delete = 0
        <if test="requestDTO.permission != null and requestDTO.permission != '' ">
            and sp.description like CONCAT('%',#{requestDTO.permission},'%')
        </if>
    </select>


    <select id="getPermissionListByRoleId" resultType="com.qsq.user.po.SysPermissions">

        select sp.* from sys_role_permissions srp
        LEFT JOIN sys_role sr on sr.role_id = srp.role_id
        LEFT JOIN sys_permissions sp on sp.permissions_id = srp.permissions_id
        where srp.is_delete = 0
        and sp.is_delete = 0
        and sr.is_delete = 0
        and srp.role_id = #{id}

    </select>


</mapper>
