<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsq.auth.mapper.AuthServerMapper">


    <select id="getUserRoleByUserId" resultType="java.lang.String">
           SELECT
				CASE
			WHEN sp.permissions_name IS NULL THEN
				sr.role_name
			ELSE
				CONCAT(
					sr.role_name,
					'.',
					sp.permissions_name
				)
			END AS role
			FROM
				sys_user_role sur
			LEFT JOIN sys_role sr ON sr.role_id = sur.role_id and sr.is_delete = 0
			LEFT JOIN sys_role_permissions srp ON srp.role_id = sr.role_id and srp.is_delete = 0
			LEFT JOIN sys_permissions sp ON sp.permissions_id = srp.permissions_id and sp.is_delete = 0
			WHERE sur.user_id = #{id} and sur.is_delete = 0
    </select>

</mapper>
